<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compose</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <form action="/compose" method="POST">
    <h1>Compose </h1>
    <input name="postTitle"type="text" placeholder="title.." required>
    <br>
    <textarea name="postContent" placeholder="paragraph.." required></textarea>
    <br>
    <button >post</button>
    </form>
    </div>
    
</body>
</html>